%h2 Create A Listing
.control-group
  %label.control-label{for: "listings_title"} Listing Title
  .controls
    = text_field :listings, :title
.control-group
  %label.control-label{for: "listings_description"} Description
  .controls
    = text_area :listings, :description
%label.checkbox.inline Categories
- categories.each do |category|
  %input{type: "checkbox", id: category, value: category}=category
.control-group
  %label.control-label{for: "listings_address_one"} Address 
  .controls
    = text_field :listings, :address_one
.control-group
  %label.control-label{for: "listings_address_two"} Line 2
  .controls
    = text_field :listings, :address_two
.control-group
  %label.control-label{for: "listings_city"} City 
  .controls
    = text_field :listings, :city
.control-group
  %label.control-label{for: "listings_state"} State
  .controls
    = select :listings, :state, states
.control-group
  %label.control-label{for: "listings_zip"} Zip Code 
  .controls
    = text_field :listings, :zip
%button.btn-primary#create-listing-btn Create
