%h2.offset1 Your Listings
.row
  .div.extrabottom.offset12
    =link_to image_tag("green-plus-sign-th.png", class: "add_listing_img", id: "add_listing_img"), new_listing_path() 

-if @listings.empty?
  %p.offset2.span6.alert.alert-info You currently have no listings. Click the green '+' to add a new listing.
-@listings.each do |listing|
  .row
    .div.well.span10.offset2.list
      %dl.dl-horizontal{id: "listing_#{listing.id}"}
        %dt Title: 
        %dd= listing.title
        %dt Description:
        %dd= listing.description
        .div.offset8.span1.extrabottom
          %a.btn.hide.edit-btn{id: "edit-listings-btn-listing_#{listing.id}", href: edit_listing_path(listing.id)} Edit
        .div.offset8.span1
          =button_to "Delete", listing_path(listing.id), method: "delete", confirm: "Are you sure?", class: "btn btn-danger hide delete-btn", id: "delete-listings-btn-listing_#{listing.id}"
