!!! 5
%html
  %head
    = render partial: "shared/header"
  %body
    .navbar
      .navbar-inner
        %a.brand{href: "#"}
        %ul.nav
          = nav_link "Listings", href: listings_path, tab: :listings
        %ul.nav
          = nav_link "Sign Up", tab: :password
        %ul.nav
          - if current_user 
            = link_to "Sign out", destroy_user_session_path, method: "DELETE"
    - if notice.present?
      %p{:class => "notice"}= notice
    - if alert.present?
      %p{:class => "alert"}= alert
    = yield
